* {
    margin: 0;
    padding: 0;
    outline: 1px solid cyan;
}

:root {
    --accent: #be3144;
    --bg-dark-grd: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    --bg-gray: #303841;
    --bg-blue: #45567d;

    --font-white: #f0f0f0;
  }

html {
    font-size: 62.5%;
}

body {
    font-family: Poppins, sans-serif;
}


.nav-bar {
    width: 100%;
    min-width: 500px;
    background:var(--accent);
    display: flex;
    justify-content: flex-end;
    position:sticky;
    top:0;
}

.nav-links {
    width: 75%;
    max-width:480px;
    list-style:none;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links li {
    min-width:100px;
    text-align: center;
}

.nav-link {
    color:var(--font-white);
    text-decoration: none;
    display:block;
    padding:1.5rem 0.5rem;
    font-size:1.4rem;
    cursor:pointer;  
}